# This a Python Tutorial

First Program in Python

In [14]:
print("Hello World")

Hello World

## Variables

In [15]:
x = 3

In [21]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     3

In [22]:
print(type(x))

<class 'int'>

In [23]:
x = 5.7

In [24]:
%whos

Variable   Type     Data/Info
-----------------------------
x          float    5.7

In [27]:
print(type(x))

<class 'float'>

In [28]:
abcd = 556.32

In [29]:
%whos

Variable   Type     Data/Info
-----------------------------
abcd       float    556.32
x          float    5.7

In [31]:
a,b,c,d,f = 3,5,6.0,7.2,-3

In [32]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
abcd       float    556.32
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
x          float    5.7

In [33]:
del abcd

In [34]:
%whos

Variable   Type     Data/Info
-----------------------------
a          int      3
b          int      5
c          float    6.0
d          float    7.2
f          int      -3
x          float    5.7

In [36]:
print(abcd)

NameError: name 'abcd' is not defined

In [37]:
c = 2 + 4j

In [38]:
print(type(c))

<class 'complex'>

In [39]:
s = "Hello"

In [40]:
print(type(s))

<class 'str'>

# Operators

In [41]:
%whos

Variable   Type       Data/Info
-------------------------------
a          int        3
b          int        5
c          complex    (2+4j)
d          float      7.2
f          int        -3
s          str        Hello
x          float      5.7

In [42]:
sumOfaAndb = a + b

In [43]:
print(sumOfaAndb)

8

In [44]:
type(sumOfaAndb)

int

In [45]:
type(a+d)

float

In [46]:
v = ((a+d)**3)/4

In [47]:
print(v)

265.30199999999996

In [49]:
s1 = "hello"
s2 = "world"
s = s1 + s2
print(s)

helloworld

In [50]:
10//3 # floor division

3

In [51]:
10/3

3.3333333333333335

In [53]:
_ # default last result

3.3333333333333335

In [54]:
3x = 3 # variable name cannot start with digit

SyntaxError: invalid syntax (<ipython-input-54-dd4ac6435b6d>, line 1)

In [55]:
@x = 4 # variable name cannot start with special character

SyntaxError: invalid syntax (<ipython-input-55-e8fcc9708334>, line 1)

In [56]:
_e = 6 # variable name start with underscore is allowed

# Bool

In [60]:
a = True
b = True
c = False

In [61]:
%whos

Variable     Type     Data/Info
-------------------------------
a            bool     True
b            bool     True
c            bool     False
d            float    7.2
f            int      -3
s            str      helloworld
s1           str      hello
s2           str      world
sumOfaAndb   int      8
v            float    265.30199999999996
x            float    5.7

In [62]:
print(a and b)
print(a and c)
print(c and a)

True
False
False

In [63]:
d = a or c
print(d)

True

In [64]:
not(a)

False

In [65]:
not(b)

False

In [66]:
not(c)

True

In [67]:
t = not(d)

In [68]:
type(d)

bool

In [70]:
print(t)

False

In [71]:
not((a and b) or (c or d))

False

# Comparisons

In [72]:
print(2<3)

True

In [73]:
c = 2 < 3
print(type(c))
print(c)

<class 'bool'>
True

In [74]:
d = 3==4

In [75]:
print(d)

False

In [76]:
3==3.0 # comparing value by discarding decimal

True

In [77]:
x = 4 
y = 9
z = 8.3
r = -3

In [78]:
(x<y) and (z<y) or (r==x)

True

In [80]:
(r==x) and (x<y) or (z>y)

False

In [81]:
True and False or True

True

In [84]:
False and False or True # and applies first

True

In [85]:
print((not(2!=3) and True) or (False and True))

False

# Functions

In [86]:
print(round(4.556))

5

In [87]:
print(round(4.5))

4

In [88]:
print(round(4.556789,2))

4.56

In [89]:
print(round(4.556789,3))

4.557

In [90]:
print(divmod(27,5)) # tuple

(5, 2)

In [91]:
print(divmod(34,9))

(3, 7)

In [92]:
G = divmod(34,9)

In [93]:
type(G)

tuple

In [94]:
G[0]

3

In [95]:
G[1]

7

In [97]:
print(34//9)
print(34%9)

3
7

In [98]:
print(isinstance(1, int))

True

In [99]:
print(isinstance(1.0, int))

False

In [100]:
print(isinstance(1.0,(int,float)))

True

In [101]:
print(pow(4,2))

16

In [102]:
pow(2,4,7)

2

In [103]:
x = input("Enter a number :")

Enter a number :56

In [104]:
type(x)

str

In [105]:
print(x)

56

In [106]:
x = int(x)

In [107]:
type(x)

int

In [108]:
a = float(input("Enter a real number :"))

Enter a real number :12.5

In [109]:
type(a)

float

In [110]:
b = float(input("Enter a real number :"))

Enter a real number :abc

ValueError: could not convert string to float: 'abc'

In [111]:
pow?

In [114]:
pow??

In [115]:
help(pow)

Help on built-in function pow in module builtins:

pow(base, exp, mod=None)
    Equivalent to base**exp with 2 arguments or base**exp % mod with 3 arguments

    Some types, such as ints, are able to use a more efficient algorithm when
    invoked using the three argument form.

In [116]:
help(input)

Help on method raw_input in module ipykernel.kernelbase:

raw_input(prompt='') method of ipykernel.ipkernel.IPythonKernel instance
    Forward raw_input to frontends

    Raises
    ------
    StdinNotImplentedError if active frontend doesn't support stdin.

In [117]:
input?

In [118]:
input??

In [126]:
a = int(input("a: "))
b = int(input("b: "))
if a > b:
    print("a is greater than b")
elif a == b:
    print("a and b are equal")
else:
    print("b is greater than a")

a: 2
b: 1
a is greater than b

In [129]:
a = int(input("a: "))
b = int(input("b: "))
print("A") if a > b else print("=") if a==b else print("B")

a: 3
b: 3
=

In [140]:
# single line comment
"""""
user will enter a floating point number let say 238.915. Task is to find out the integer portion 
before the point (in this case 238) and then check if that integer portion is an even number or not?
"""""
x = float(input("Enter a real number :"))
y = round(x)
if x > 0:
    if y>x:
        intPortion = y-1
    else:
        intPortion = y
else:
    if y<x:
        intPortion = y+1
    else:
        intPortion = y

if intPortion%2 == 0:
    print("Even")
else:
    print("Odd")

Enter a real number :24.5
Even

In [1]:
n = int(input("Enter n :"))
i = 1
while i < n:
    print(i**2)
    print("This is iteration number: ", i)
    i+=1

Enter n :2
1
This is iteration number:  1

In [3]:
n = 10
i = 1
while True:
    if i%9 == 0:
        print("Inside if")
        break
    else:
        print("Inside else")
        i+=1
print("done")

Inside else
Inside else
Inside else
Inside else
Inside else
Inside else
Inside else
Inside else
Inside if
done

In [6]:
n = 10
i = 1
while True:
    if i%9 != 0:
        print("inside if")
        i+=1
        continue
    print("outside if")
    print("done")
    break

inside if
inside if
inside if
inside if
inside if
inside if
inside if
inside if
outside if
done

In [13]:
L = []
for i in range(10):
    print(i+1)
    L.append(i**2)
print(L)

1
3
5
7
9
[0, 4, 16, 36, 64]

In [16]:
L = []
for i in range(0,10,2):
    print(i+1)
    L.append(i**2)
print(L)

1
3
5
7
9
[0, 4, 16, 36, 64]

In [38]:
S = {"apple",4.9,"cherry"} #Set
for x in S:
    print(x)
else:
    print("Completed")

cherry
apple
4.9
Completed

In [40]:
D = {"apple":140,"amazon":"3100"} #Dictionary
for x in D:
    print(x, D[x])

apple 140
amazon 3100

In [21]:
"""""
Given a list of numbers i.e. [1,2,4,-5,7,9,3,2], 
make another list that contains all the items in sorted order from min to max. 
i.e. your result will be another list like [-5,1,2,2,3,4,7,9]
"""""

L = [1,2,4,-5,7,9,3,2]
for j in range(len(L)):
    m = L[j]
    idx = j
    c = j
    for i in range(j, len(L)):
        if L[i] < m:
            m = L[i]
            idx = c
        c+=1
    tmp = L[j]
    L[j] = m
    L[idx] = tmp
print(L)

[1, 2, 4, -5, 7, 9, 3, 2]
[-5, 1, 2, 2, 3, 4, 7, 9]

In [24]:
def printSuccess():
    """This function does nothing"""
    print("I am done")
    print("Send me another task")

In [26]:
printSuccess()

I am done
Send me another task

In [28]:
def adding(a, b):
    print("A")
    c = a + b
    print("B")
    return c

In [30]:
adding(1,2)

A
B

3

In [36]:
print(type(adding))

<class 'function'>

In [39]:
def r():
    a = 1
    b = 2
    c = 3
    return a,b,c

In [41]:
x,y,z = r()
print(x,y,z)

1 2 3

# Functions (Variable number of input arguments)

In [45]:
def addingAll(*args):
    sum = 0
    for i in range(len(args)):
        sum+=args[i]
    return sum

In [48]:
print(addingAll(1,2,3,4,5))

15

In [50]:
def printAllVariableNamesAndValues(**c):
    for x in c:
        print(x, c[x])
        
printAllVariableNamesAndValues(c1="a",c2="b",c3="c")

c1 a
c2 b
c3 c

In [51]:
L = [1,2,3]
L2 = L
L2[0] = -9
print(L)

[-9, 2, 3]

In [9]:
import sys
sys.path.append('D:/PyFunctions')
import universal_functions as ufs

In [8]:
ufs.addAllNumerics??

In [5]:
ufs.addAllNumerics(1,2,3,4,5)

15

In [10]:
from universal_functions import addAllNumerics

In [11]:
d = addAllNumerics(1,2,3,4,5)
print(d)

15

In [1]:
"""""
Given a list of numbers i.e. [1,2,4,-5,7,9,3,2], 
make another list that contains all the items in sorted order from min to max. 
i.e. your result will be another list like [-5,1,2,2,3,4,7,9]
"""""

def findMin(L,startIndex):
    m = L[startIndex]
    idx = startIndex
    for i in range(startIndex, len(L)):
        x = L[i]
        if x < m:
            m = x
            idx = i
        else:
            pass
        i+=1
    return m,idx

def swapValues(L, idx1, idx2):
    tmp = L[idx1]
    L[idx1]  = L[idx2]
    L[idx2] =  tmp
    return L

def checkIfNotNumeric(L):
    for x in L:
        if not(isinstance(x,(int,float))):
            return False
    return True

def sortList(L):
    if not(checkIfNotNumeric(L)):
        print("Error: List does not contian numeric values")
        return
    else:
        c = 0
        for x in L:
            m,idx = findMin(L,c)
            L = swapValues(L,c,idx)
            c+=1
        return L

In [4]:
a,b = findMin([2,3,4,0,9],0)
print(a,b)
L = [2,3,4,0,9]
L2 = swapValues(L,0,3)
print(L2)
print(sortList([2,1,5,3,-8,17]))

0 3
[0, 3, 4, 2, 9]
[-8, 1, 2, 3, 5, 17]

In [6]:
price = 12
s = "The price is: "
v = s + str(price)
print(v)

The price is: 12

In [7]:
print("""

This is first string
This is second string
This is third string

""")

This is first string
This is second string
This is third string

In [11]:
s = "How are you and who are you"

In [19]:
# s[start:end:step]
print(s[5])
print(s[0:10])
print(s[-1])
print(s[-12:-3])
print(s[:3])
print(s[3:])
print(s[::-1])

r
How are yo
u
 who are
How
 are you and who are you
uoy era ohw dna uoy era woH

In [30]:
a = "     A lot of SPaces at   bEGinning"
c = "a|c|d|f"
b = a.strip()
print(b)
b = a.upper()
print(b)
b = a.lower()
print(b)
b = a.replace(" ", "")
print(b)
b = c.split("|")
print(b)

A lot of SPaces at   bEGinning
     A LOT OF SPACES AT   BEGINNING
     a lot of spaces at   beginning
AlotofSPacesatbEGinning
['a', 'c', 'd', 'f']

In [31]:
print("abc" in "asfgascvxvaxcaxcaabc")

True